body {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

#navBar {
    padding: 50px 200px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.navbar, .pagination .page-item.active .page-link {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

section {
    padding: 150px 0;
}

section.about {
    min-height: 100vh;
    color: #fff;
    background-color: #191925;
}

header {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url("../img/bg.png");
    background-size: cover;
}
